@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: Prompt;
    @apply overflow-x-hidden;
  }
  main {
    @apply mt-14 items-center justify-center flex flex-col;
  }
  section {
    @apply mt-14 w-[95%] lg:w-[80%] xl:w-[70%] transition-all duration-300;
  }
}

@layer components {
  .bonsaiHeader {
    @apply fixed w-full top-0 left-0 z-50  drop-shadow flex mx-auto py-3 justify-center;
  }
  .bonsaiHeaderLink {
    @apply font-light flex items-center gap-2 text-gray-700 hover:opacity-70 cursor-pointer transition duration-300;
  }
  .bonsaiFooter {
    @apply drop-shadow flex mx-auto py-3  justify-center;
  }
  .bonsaiFooterLink {
    @apply cursor-pointer hover:opacity-70 transition duration-100 flex items-center gap-2;
  }
  .bonsaiLiQuestion {
    @apply flex justify-between cursor-pointer  items-center hover:text-emerald-500 transition duration-200;
  }
}

/* html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
} */
